.bg-img {
  background-image: url("back6.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
body, html {
  height: 100%;
  margin: 0;
}
 .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343a40;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*.leftHeader{
  display: none;
}*/

#main {
  transition: margin-left .5s;
  padding: 10px;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navmargin{
      margin-bottom: 0;
}
.tabcolor{
  color: white;
}
.opacitymodal{
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.opacitymodal:hover{
  opacity: 1.0;
  filter: alpha(opacity=100);
}
